
.topnav {
                      overflow: hidden;
                      background-color: #333;
                      width:100%;
                      position:fixed;
                      left:0px;
  
                      
                    }

                     .topnav a {
                      float: left;
                      color: #f2f2f2;
                      text-align: center;
                      padding: 14px 16px;
                      text-decoration: none;
                      font-size: 17px;
                    }

                    .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                    }

                    .topnav .active {
                    background-color: #276bd8;
                    color: White;
                    }
                    
.jumbotron {
    height:210px;
    position:relative;
           }